{% extends 'base.html.twig' %}

{% block title %}All Courses{% endblock %}

{% block nav %}
      <div class="nav_container">
                    <div class="nav-left">
                    <p id="welcome">all courses</p>
                    {# <p> {{totalCourses}} Courses </p> #}
                    </div>
                    <div class="nav_middle">
                        {# <p id="editProfile"><a href="">Edit Profile <i class="fa-solid fa-pen"></i></a></p> #}
                    </div>
                    <div class="nav-right">
                        <p><a href=" {{ path('app_home') }}">home <i class="fa-solid fa-circle-arrow-right"></i> </a></p>
                    </div>
                </div>
{% endblock nav %}

{% block body %}
<div class="sessions_wrapper">
    <table id="sessions_table">
        <thead>
            <th>name</th>
            <th>category</th>
        </thead>
    {% for course in courses %}
            <tbody>
                <tr>
                    <td>{{course.name}}</td>
                    {% if course.category is not null%}
                    <td>{{course.category.name}}</td>
                        {% else %}
                        {# <td><a href="{{ path('add_category_to_course', {'id':course.id}) }}">add category</a></td> #}
                        <td>NULL</td>
                        {% endif %}
                        </tr>
                    </tbody>
                        {% endfor %}
        </table>

</div>
{% endblock %}
