{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
        <div class="home_wrapper">
                {% if app.user %}
                        <div class="all_wrapper">
                        <a class="home_button" href="{{ path('app_training') }}">TRAININGS</a>
                        <a class="home_button" href="{{ path('app_session') }}">SESSIONS</a>
                        <a class="home_button" href="{{ path('app_course') }}">COURSES</a>
                        <a class="home_button" href="{{ path('app_trainee') }}">TRAINEES</a>
                        </div>

                {% else %}
                        <p><a href=" {{ path('app_login') }}" class="home_button_round">Log In</a></p>
                {% endif %}
        </div>
{% endblock %}


