{% extends 'base.html.twig' %}

{% block nav %}
      <div class="nav_container">
                    <div class="nav-left">
                        <p>if edit ... edit else add ...</p>
                    </div>
                    <div class="nav-right">
                        <p><a href=" {{ path('app_home') }} ">HOME <i class="fa-solid fa-circle-arrow-right"></i></a></p>
                    </div>
                </div>
{% endblock nav %}

{% block body %}

<div class="form_container">
    {{ form_start(formNewCategory) }}
    
    <div class="row">
        <div class="form-group">
            {{ form_label(formNewCategory.name, "name") }}
            {{ form_widget(formNewCategory.name, {'attr': {'class': 'custom-input'}}) }}
        </div>

    <div class="row">
            {{ form_widget(formNewCategory.submit) }}
    </div>

    {{ form_end(formNewCategory) }}
</div>

{% endblock body %}