{% extends 'base.html.twig' %}

{% block body %}

 <h1>{% if edit %} edit {% else %} add a category {% endif %}</h1>


<div class="form_container">
    {{ form_start(formNewCategory) }}
    
    <div class="row">
        <div class="form-group">
            {{ form_label(formNewCategory.name, "name") }}
            {{ form_widget(formNewCategory.name, {'attr': {'class': 'custom-input'}}) }}
        </div>

    <div class="row">
            {{ form_widget(formNewCategory.submit) }}
    </div>

    {{ form_end(formNewCategory) }}
</div>

{% endblock body %}