{# détails de la session
stagiaires inscrits dans la session 
stagiaire non inscrits dans la session 
requête SQL, puis : 
requête DQL  #}

{# SELECT CONCAT(t.first_name, t.last_name) FROM trainee t 
WHERE t.id NOT IN(
	SELECT ts2.trainee_id
	FROM trainee_session ts2
	INNER JOIN session s2 ON ts2.session_id = s2.id
	WHERE s2.id = 13
)

SELECT trainee FROM App\Entity\Trainee as trainee 
WHERE trainee NOT IN(
    SELECT session
    FROM App\Entity\Session session
    WHERE session.id = :id
) #}

{% extends 'base.html.twig' %}

{% block title %}All Sessions{% endblock %}

{% block nav %}
      <div class="nav_container">
                    <div class="nav-left">
                    <p id="welcome"> {{ session.name }}/details</p>
                    </div>
                    <div class="nav_middle">
                    </div>
                    <div class="nav-right">
                        <p><a href=" {{ path('app_home') }}">home <i class="fa-solid fa-circle-arrow-right"></i> </a></p>
                    </div>
                </div>
{% endblock nav %}

{% block body %}
<div class="sessions_wrapper">
    <table id="sessions_table">
        <thead>
            <th>name</th>
            <th>starting date</th>
            <th>ending date</th>
            <th>total places</th>
            <th>Nb trainees enrolled</th>
            <th>available</th>
            <th>Edit</th>
            <th>Bin</th>
        </thead>
   
            <tbody>
                <tr>
                    <td>{{session.name}}</td>
                    <td>{{session.startingDate | date("d-m-Y")}}</td>
                    <td>{{session.endingDate | date("d-m-Y")}}</td>
                    <td>{{session.nbPlaces}}</td>
                    <td>{{session.nbTrainees}}</td>
                    <td>{{session.nbPlacesLeft}}</td>
                    <td><a href=" {{ path('update_session', {'id':session.id}) }} "><i class="fa-solid fa-pen"></i></a></td>
                    <td><a href=" {{ path('delete_session', {'id':session.id}) }} "><i class="fa-solid fa-trash"></i></a></td>

                </tr>
            </tbody>
    </table>

    <div class="sessionTrainees_wrapper">
        <div class="whiteBackground">
            <p class="title">Trainees enrolled</p>
            {% if session.trainees|length == 0 %}
            None
            {% else %}
            {% for trainee in session.trainees %}
                <p>{{ trainee.firstName }} {{ trainee.lastName }}</p>
                <p><a href="{{ path('delete_trainee-from-session', {'id': session.id, 'traineeId': trainee.id}) }}">remove</a></p>

                
            {% endfor %}
            {% endif %}
            <p class="addTrainee_button"><a href=' {{ path('update_session',{'id':session.id}) }} '>add trainee(s) <i class="fa-solid fa-circle-plus"></i></a></p>
        </div>
        <div class="whiteBackground">
            <p class="title">Trainees not enrolled</p>
        {% for notEnrolledTrainee in notEnrolled %}
            <p> {{notEnrolledTrainee}} </p>
            <p><a href=" {{ path('add_trainee_to_session',{'idTrainee':notEnrolledTrainee.id, 'idSession':session.id}) }} ">add</a></p>
        {% endfor %}
        </div>
    </div>

</div>

<style>
    .addTrainee_button{
        background-color:orange;
        border-radius:100px;
        width:fit-content;
        padding:10px;
    }
    .addTrainee_button a{
        color:var(--white);
        text-decoration:none;
        text-transform:uppercase;
    }

    .addTrainee_button:hover{
        background-color:var(--green);
    }

    
</style>



{% endblock %}


