{% extends 'base.html.twig' %}

{% block nav %}
      <div class="nav_container">
                    <div class="nav-left">
                    {# <p id="welcome">  {% if edit == true %} Update a session {% else %} Add a session {% endif %}</p> #}
                    </div>
                    <div class="nav-right">
                        <p><a href=" {{ path('app_session') }} ">all sessions <i class="fa-solid fa-circle-arrow-right"></i></a></p>
                    </div>
                </div>
{% endblock nav %}

{% block body %}

<div class="form_container">
    {{ form_start(formNewSession) }}
    
    <div class="row">
        <div class="form-group">
            {{ form_label(formNewSession.name, "Name") }}
            {{ form_widget(formNewSession.name, {'attr': {'class': 'custom-input'}}) }}
            {{ form_errors(formNewSession.name) }}
        </div>

        <div class="form-group">
            {{ form_label(formNewSession.nbPlaces, "Number of places") }}
            {{ form_widget(formNewSession.nbPlaces, {'attr': {'class': 'custom-input'}}) }}
            {{ form_errors(formNewSession.nbPlaces) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            {{ form_row(formNewSession.startingDate, {'attr': {'class': 'custom-input'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(formNewSession.endingDate, {'attr': {'class': 'custom-input'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            {{ form_row(formNewSession.staffMember, {'attr': {'class': ' custom-input'}}) }}
  
        </div>
 
        <div class="form-group">
            {{ form_row(formNewSession.training, {'attr': {'class': 'custom-input'}}) }}
        </div>
    </div>

    <div class="row">
            {{ form_widget(formNewSession.submit) }}
    </div>

    {{ form_end(formNewSession) }}
</div>

{% endblock body %}