<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block fonts %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% endblock %}

        {% block cdn %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <nav>
            {% block nav %}
                <div class="nav_container">
                    <div class="nav-left">
                    <p id="welcome">Welcome {% if app.user %}{{ app.user.userIdentifier }}{% else %}<p>you're not logged in yet</p>{% endif %}</p>
                    {% if app.user %}<img id="avatar" src="avatars/avatar1.png"></img>{% endif %}
                    </div>
                    <div class="nav-middle">
                    {% if app.user %}<p><a href="{{path('app_home')}}">Home <i class="fa-solid fa-house"></i></a>{% endif %}
                    {# {% if app.user %} <p id="editProfile"><a href="">Edit Profile <i class="fa-solid fa-pen"></i></a></p>{% endif %} #}
                    </div>
                    <div class="nav-right">
                    {% if app.user %}
                    <p><a href="{{ path('app_logout') }}">Logout <i class="fa-solid fa-right-from-bracket"></i></a></p>
                    {% else %}
                    <p><a href=" {{ path('app_register') }}">Register</a></p>
                    <p><a href=" {{ path('app_login') }}">Log In</a></p>
                    {% endif %}
                    </div>
                </div>
            {% endblock %}
        </nav>

            {# {% for label, messages in app.flashes(['success', 'error']) %}
                {% for message in messages %}
                     <div class="flash-notice">
                        {{message}}
                    </div>
                {% endfor %}
            {% endfor %} #}

            {% for message in app.flashes('success') %}
                <div class="flash-notice-success">
                    {{ message }}
                </div>
            {% endfor %}

               {% for message in app.flashes('error') %}
                <div class="flash-notice-error">
                    {{ message }}
                </div>
            {% endfor %}

        {% block body %}

        {% endblock %}
    </body>
</html>
