{% extends 'base.html.twig' %}

{% block title %}All Trainees{% endblock %}

{% block nav %}
      <div class="nav_container">
                    <div class="nav-left">
                    <p id="welcome">all trainees </p>
                    <p> {{totalTrainees}} Trainees </p>
                    </div>
                    <div class="nav_middle">
                        {# <p id="editProfile"><a href="">Edit Profile <i class="fa-solid fa-pen"></i></a></p> #}
                    </div>
                    <div class="nav-right">
                        <p><a href=" {{ path('app_home') }}">home <i class="fa-solid fa-circle-arrow-right"></i> </a></p>
                    </div>
                </div>
{% endblock nav %}

{% block body %}
<div class="sessions_wrapper">
    <a class=" add_button" href="{{ path('add_trainee') }}">ADD A TRAINEE</a>
    <table id="sessions_table">
        <thead>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>details</th>
 
        </thead>
    {% for trainee in trainees %}
            <tbody>
                <tr>
                    <td>{{trainee.firstName}}</td>
                    <td>{{trainee.lastName }}</td>
                    <td>{{trainee.email}}</td>
                    <td><a href=" {{ path('detail_trainee',{'id':trainee.id}) }}"><i class="fa-solid fa-circle-arrow-right"></i></a></td>
                </tr>
            </tbody>
    {% endfor %}

    </table>

</div>
{% endblock %}
