{% extends 'base.html.twig' %}

{% block title %}All Trainees{% endblock %}

{% block body %}
<h1>all trainees ({{totalTrainees}} Trainees)</h1>

<div class="sessions_wrapper">
    <a class=" add_button" href="{{ path('add_trainee') }}">ADD A TRAINEE</a>
    <table id="sessions_table">
        <thead>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>details</th>
 
        </thead>
            <tbody>
                {% for trainee in trainees %}
                    <tr>
                        <td>{{trainee.firstName}}</td>
                        <td>{{trainee.lastName }}</td>
                        <td>{{trainee.email}}</td>
                        <td><a href=" {{ path('detail_trainee',{'id':trainee.id}) }}"><i class="fa-solid fa-circle-arrow-right"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

</div>
{% endblock %}
