

{% extends 'base.html.twig' %} 

{% block title %}Training sessions{% endblock %}

{% block body %}

<a href="{{ path('app_training') }}" class="link_previousPage"><i class="fa-solid fa-circle-arrow-left"></i> All trainings </a>

<h1>Available sessions for {{training.name}} training</h1>

<div class="sessions_wrapper">
<table id="sessions_table">
    <thead>
        <tr>
            <th>Sessions</th>
            <th>starting date</th>
            <th>ending date</th>
            <th>total places</th>
            <th>available</th>
            <th>program details</th>
        </tr>
    </thead>

    <tbody>
 {% for session in training.sessions %}
        <tr>
            <td>{{session.name }}</td>
            <td>{{session.startingDate | date("d-m-Y")}}</td>
            <td>{{session.endingDate | date("d-m-Y")}}</td>
            <td>{{session.nbPlaces}}</td>
            <td>{{session.nbPlacesLeft}}</td>
            <td><a href="{{ path('detail_program', {'id':session.id}) }}"><img id="search" src="icones/chercher.png" alt="Link to program details"></a></td>
        </tr>
 {% endfor %}
    </tbody>
 </table>
     <a class="add_button" href="{{ path('add_session',{'id':training.id}) }}">ADD A SESSION</a>
</div>
{% endblock %}